<div class="container">
  <div class="row h100">
    <div class="col-6 my-auto mx-auto text-center">
      <a href="https://canvasboard.live">
        <img src="../../../assets/home/logo_bw.png" width="50" alt="Logo">
      </a>
      <h2 class="fontStyle">Forgot your password?</h2>
      <form action="">
        <div class="input-field">
          <input type="username" name="email" required="" id="email" placeholder="Enter Email Address" class="shadow input-email">
        </div>
      </form>
      <div class="mt-4">
        <button class="btn btn-dark" (click)="sendEmail()">Send</button>
      </div>
    </div>
  </div>
</div> 