footer {
  // background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(238,109,158,1) 100%); 
  // background: rgb(255,255,255);
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  background-color: #B2EBF2;
  color: black;
  font-size: 16px;
  padding: 20px;
  padding-bottom: 0px;

  ul{
    list-style-type: none;
    padding-left: 0px;
  }

  li{
    color: white;
  }

  footer-list{

    a{
      font-size: 18px;
    }
  }
}

.image-logo {
  margin: 0px;
}

@media (max-width: 576px) {
  .margin-top {
    margin-top: 10px !important;
  }
}
