footer {
  background-image: linear-gradient(to bottom right, #E1BEE7, #B2EBF2);
  color: black;
  font-size: 12px;
  padding: 20px;

  ul{
    list-style-type: none;
    padding-left: 0px;
  }
}

.image-logo {
  margin: 0px;
}

@media (max-width: 576px) {
  .margin-top {
    margin-top: 10px !important;
  }
}
