<footer>
  <div class="container">
    <div class="row pt-2">
      <div class="col-sm-4 margin-top">
          <p class="image-logo">
          <img src="../../../assets/home/logo_bw.png" width="40" alt="Logo Canvasbird">
          </p>
        <h6 class="mt-2">Copyright &copy; 2020 Canvasbird</h6>
      </div><!-- end col-sm-2 -->


      <div class="col-sm-4 margin-top">
        <h6><strong>About us</strong></h6>
        <p>Canvasbird is an opensource organization were we build real-time applications to enhance the end-user experience.</p>
      </div><!-- end col-sm-4 -->

      <div class="col-sm-2 margin-top">
        <h6><strong>Info</strong></h6>
        <ul class="unstyled">
          <li><a href="#">Documentation</a></li>
          <li><a href="#">About</a></li>
          <li><a href="https://gitter.im/canvasbird/">IRC Channel</a></li>
          <li><a routerLink="/contribution">Be a contributor</a></li>
          <li><a routerLink="/login">Login/Signup</a></li>
        </ul>
      </div><!-- end col-sm-2 -->

      <div class="col-sm-2 margin-top">
        <h6><strong>Follow Us</strong></h6>
        <ul class="unstyled">
          <li><a href='#'>Twitter</a></li>
          <li><a href='#'>Facebook</a></li>
          <li><a href='#'>Instagram</a></li>
          <li><a href='#'>LinkedIn</a></li>
        </ul>
      </div><!-- end col-sm-2 -->

    </div><!-- end row -->
  </div><!-- end container -->
</footer>
