<footer>
  <div class="container">
    <div class="row pt-2">
      <div class="col-sm-4 col-md-4 margin-top">
        <p class="image-logo mb-2">
          <img src="../../../assets/home/logo_bw.png" width="40" alt="Logo Canvasbird">
          </p>
        <!-- <h6><strong>About us</strong></h6> -->
        <p>Canvasbird is an opensource organization where we build real-time applications to enhance the end-user experience.</p>
      </div>
      <!-- end col-sm-4 -->

      <!-- <div class="col-sm-4 margin-top">
          <p class="image-logo">
          <img src="../../../assets/home/logo_bw.png" width="40" alt="Logo Canvasbird">
          </p>
        <h6 class="mt-2">Copyright &copy; 2020 Canvasbird</h6>
      </div> -->
      <!-- end col-sm-2 -->
      <div class="col-md-2"></div>
      <div class="col-sm-2 col-md-2 margin-top">
        <h6><strong>Become a part!</strong></h6>
        <ul class="footer-list">
          <!-- <li><a href="#" style="color: black;">Documentation</a></li> -->
          <!-- <li><a href="#" style="color: black;">About</a></li> -->
          <li><a target="_blank" href="https://gitter.im/canvasbird/" style="color: black;"><i class="fab fa-gitter"></i>/canvasbird</a></li>
          <li><a routerLink="/contribution" style="color: black;"><i class="fab fa-github"></i>/canvasboard</a></li>
          <li><a routerLink="/login" style="color: black;">Login/Signup</a></li>
        </ul>
      </div><!-- end col-sm-2 -->

      <div class="col-sm-2 col-md-2 margin-top">
        <h6><strong>Follow us!</strong></h6>
        <ul class="footer-list">
          <li><a target="_blank" href='https://twitter.com/canvsboard' style="color: black;"><i class="fab fa-twitter"></i>Twitter</a></li>
          <!-- <li><a href='#' style="color: black;"><i class="fab fa-facebook-f"></i> Facebook</a></li> -->
          <!-- <li><a href='#' style="color: black;"><i class="fab fa-instagram"></i> Instagram</a></li> -->
          <li><a target="_blank" href='https://www.linkedin.com/company/canvasbird' style="color: black;"><i class="fab fa-linkedin-in"></i> LinkedIn</a></li>
        </ul>
      </div><!-- end col-sm-2 -->
      <div class="col-sm-2 col-md-2 margin-top">
        <h6><strong>Fueled by 🚀</strong></h6>
        <img src="../../../assets/home/iiitb.png" alt="" style="width:100%;">
      </div>
    </div>
    <!-- end row -->
    <div class="row">
      <div class="col-md-4">
      </div>

      <div class="mb-0">
        <b><p>Copyright &copy; 2020 Canvasbird. All rights reserved.</p></b>
      </div>
    </div>
  </div>
  <!-- end container -->
</footer>
