.container{
  .buttons {
    button {
      margin-right:10px;
    }
  }
  .cb-files-container {
    width:100%;
    // min-height: 100vh;
    margin: 20px auto;
    columns:3;
    column-gap: 40px;

    .cb-box {
      width:100%;
      margin: 0 0 20px;
      padding:10px;
      // background: rgb(238, 238, 238);
      overflow: hidden;
      break-inside: avoid;
      border-radius: 10px;
      border: 2px solid;
      transition: box-shadow .3s;

      img {
        max-width: 100%;
        border-radius: 10px;
      }

      h2 {
        margin: 5px 0;
        padding: 0 5px;
        font-size: 20px;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
      }

      p {
        margin: 0;
        padding: 0 6px;
        font-size: 16px;
      }

      button {
        margin: 0 6px;
      }

      .labels {
        margin: 0 6px;
        span {
          margin-right: 5px;
          margin-top: 10px;
          font-size:13px;
        }
      }
    }

  }


  @media (max-width:1200px) {
    .cb-files-container {
      columns: 3;
      width: calc(100%-40px);
      cb-box-sizing: border-cb-box;
      padding: 20px 20px 20px 0;
    }
  }
  @media (max-width:768px) {
    .cb-files-container {
      columns: 2;
    }
  }
  @media (max-width:480px) {
    .cb-files-container {
      columns: 1;
    }
  } 

  .folder-box {
    padding: 1rem 1rem;
    
    background: #53A453;
    background: #ee9ca7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    

    border-radius: .5rem;
    transition: 0.4s;
    margin:10px;

    .folder-title {
      font-family: Questrial,sans-serif;
      margin-top: 3rem;
    }

    .folder-discription {
      font-family: Questrial,sans-serif;
    }
  }

  .new-folder {
    text-align: center;
    background: #FFEFBA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .folder-box:hover {
    transform:translateY(-.2rem);
  }

  .bd-grid {
    display: grid;
  }
  .folder-container {
    grid-template-columns: repeat(3,1fr);
  }

  @media (max-width: 768px) {
    .folder-container {
      grid-template-columns: repeat(2,1fr);
    }
  }
  @media (max-width: 576px) {
    .folder-container {
      grid-template-columns: repeat(1,1fr);
    }
  }

  .error-label {
    display: none;
  }

}
