<!-- navbar -->
<app-navbar></app-navbar>
<!-- main -->
<div class="container">
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <h3 style="color: black;" class="block-with-username"><strong>Welcome {{Username}}!👋</strong></h3>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <!-- new workspace -->
  <div class="cbff-container mt-4">
    <div class="new-folder">
      <br>
      <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
      </svg>
      <br>
      <!-- <p class="folder-description">Lorem ipsum dolor sit amet.</p> -->
      <button class="btn btn-dark mt-4" type="button" data-toggle="modal" data-target="#newCard">Add New Workspace</button>
    </div>
  </div>

  <div class="form-group mb-0" >
    <input type="text" class="form-control"
    [(ngModel)]="filterFolderName"
    [ngModelOptions]="{standalone: true}"
    (ngModelChange)="filterFolders()"
    placeholder="Search Workspace"
    >
  </div>
  <!-- Folders -->
  <div id="user-folders" class="cbff-container bd-grid mt-0">
  </div>



  <!-- Modal -->
<div class="modal fade" id="newCard" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create Workspace</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- const body = {
          folder_name: 'Akshay folder 1',
          folder_title: 'Folder 1',
          folder_tag: 'folder_tag',
          is_nested_folder: false
        } -->
        <!-- Folder name -->
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="folder-name">Name</span>
          </div>
          <input type="text" class="form-control" aria-label="Default" aria-describedby="folder-name" id="folder-name-input">
        </div>
        <!-- Folder description -->
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="folder-description">Description</span>
          </div>
          <input type="text" class="form-control" aria-label="Default" aria-describedby="folder-description"
            id="folder-description-input">
        </div>

        <!-- Error Label -->
        <h5 class="error-label"><span class="badge badge-danger" id="error-label">Error Occurred!</span></h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="close()">Close</button>
        <button type="button" class="btn btn-primary" (click)="createFolder()" >Save changes</button>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Quote -->
<footer class="quote mt-1 pb-0">
  <span class="quoteText"><img src="https://img.icons8.com/fluent-systems-filled/24/000000/quote-left.png"/>{{quote?.text}}</span>
  <span class="quoteAuthor">- {{quote?.author === "" ? 'Anonymous' : quote?.author}}</span>
</footer>




