@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap');


.container{
  min-height: calc(100vh - 68px);
  margin-bottom: -50px;
  .buttons {
    button {
      margin-right:10px;
    }
  }

  .cb-files-container {
    width:100%;
    margin: 20px auto;
    columns:3;
    column-gap: 40px;

    .cb-box {
      width:100%;
      margin: 0 0 20px;
      padding:10px;
      overflow: hidden;
      break-inside: avoid;
      border-radius: 10px;
      border: 2px solid;
      transition: box-shadow .3s;

      img {
        max-width: 100%;
        border-radius: 10px;
      }

      h2 {
        margin: 5px 0;
        padding: 0 5px;
        font-size: 20px;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
      }

      p {
        margin: 0;
        padding: 0 6px;
        font-size: 16px;
      }

      button {
        margin: 0 6px;
      }

      .labels {
        margin: 0 6px;
        span {
          margin-right: 5px;
          margin-top: 10px;
          font-size:13px;
        }
      }
    }
  }

  @media (max-width:1200px) {
    .cb-files-container {
      columns: 3;
      width: calc(100%-40px);
      padding: 20px 20px 20px 0;
    }
  }

  @media (max-width:768px) {
    .cb-files-container {
      columns: 2;
    }
  }
  @media (max-width:480px) {
    .cb-files-container {
      columns: 1;
    }

  }
}

.container:after{
  content: "";
  display: block;
}

.folder_colour_pink{
  margin:0px 7px;
  width:50px;
  border:none;
  border-radius: 8px;
  background-color:#ee9ca7;
}

.folder_colour_pink:focus{
  border:thin solid black
}

.folder_colour_green{
  margin:0px 7px;
  width:50px;
  border:none;
  border-radius: 8px;
  background-color:#96e6a1;
}

.folder_colour_green:focus{
  border:thin solid black
}

.folder_colour_blue{
  margin:0px 7px;
  width:50px;
  border:none;
  border-radius: 8px;
  background-color:#66a6ff;
}
.folder_colour_blue:focus{
  border:thin solid black
}

.folder_colour_dark{
  margin:0px 7px;
  width:50px;
  border:none;
  border-radius: 8px;
  background-color:#274046;
}

.folder_colour_dark:focus{
  border:thin solid black
}

.folder_colour:focus{
  border:thin solid black
}

.quote, .container:after{
  background-color: transparent;
  height: 50px;
  clear: both;
}

.quoteText{
  color: black;
  display: flex;
  justify-content: center;
  font-family: 'PT Serif', serif;
  font-style: italic;
  font-size: 16px;
  font-weight: bold;
  opacity: 50%;
}

.quoteAuthor{
  color: black;
  display: flex;
  justify-content: center;
  font-family: 'PT Serif', serif;
  font-style: italic;
  font-size: 16px;
  opacity: 50%;
  font-weight: bold;
}

.block-with-username {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;       
}

.block-with-username:hover {
  overflow: visible;
  word-break: break-all;
  white-space: normal;
  text-overflow: clip;
}
