@media only screen and (max-width: 340px) {
    .logo-text {
        display: none;
    }
  }

  @media only screen and (max-width: 900px) {
    .navbar-nav{
      float: right;
      margin-left: 0;
   }
  }

 .navbar-nav{
    margin: auto;
    float: right;
    margin-right: 0%;

 }

 .btn:hover{
   color: white !important;
 }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 230px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}
