<div class="container">
  <div class="row h100">
    <div class="col-6 my-auto mx-auto text-center">
      <a href="https://canvasboard.live">
        <img src="../../../assets/home/logo_bw.png" width="50" alt="Logo">
      </a>
      <h2 class="fontStyle">Change Password</h2>
      <form action="">
        <div class="input-field">
          <input type="number" name="email" required="" id="code" placeholder="Enter Verification code" class="shadow input-email">
          <input type="password" name="email" required="" id="renamePassword" placeholder="Enter new password" class="shadow input-email mt-2">
        </div>
      </form>
      <div class="mt-4">
        <button class="btn btn-dark" (click)="sendDetails()">Send</button>
      </div>
    </div>
  </div>
</div>