*{
  font-family: 'Questrial', sans-serif;
}
.height{
  height: 100vh;
}

.back-img{
  background-image: linear-gradient(to bottom right,rgb(218, 179, 224) ,#E1BEE7, #B2EBF2, rgb(157, 226, 235));
	background-size: 400% 400%;
  animation: gradient 15s ease infinite;

}

.main-scr{
    .form-lst{
      margin-top: 10%;
      label{
        font-family: 'Poppins', sans-serif;
      }

      .header{
        margin-bottom: 30px;
        display:flex;
        .logo{
          width: 50px;
        }
        .title{
          p{
            margin-bottom: 0px;
            margin-top: 9%;
            margin-left: 5px;
            font-weight: bold;
            font-size:20px
          }
        }
      }

      .form-group{
        input{
          border: 1px solid;
        }
      }

      .welcome{
        font-size: 30px;
      }
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media (max-width: 999px) {
.mob-hidden{
 display:none;
}
}
