<!-- <div class="main">


  <div class="toolbox">
    <button (click)="penButton()">Normal Pen</button>
    <button (click)="nextPage()">Next page</button>
    <button (click)="prevPage()">Previous page</button>
  </div>
</div> -->

<div class="wrapper">
  <div class="sidebar">
    <div class="d-flex align-items-center justify-space-around">
      <p class="heading-title">Canvasboard</p>
      <a class="board-logo" href="#" title="Canvasboard">
        <img src="../../../assets/home/logo_bw.png" width="38" height="38" class="d-inline-block align-top mr-1"
          alt="CB" loading="lazy">
      </a>
      </div>
    <ul>
      <li>
        <div class="page-buttons">
          <button class="btn btn-primary color" style="margin-right: 10px;" (click)="prevPage()">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg" class="btn-svg">
              <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path fill-rule="evenodd" d="M8.354 11.354a.5.5 0 0 0 0-.708L5.707 8l2.647-2.646a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708 0z"/>
              <path fill-rule="evenodd" d="M11.5 8a.5.5 0 0 0-.5-.5H6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5z"/>
            </svg>
            <span class="btn-text">Prev</span>
          </button>

          <button class="btn btn-primary color"  (click)="nextPage()"><span class="btn-text">Next</span>
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg" class="btn-svg">
              <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path fill-rule="evenodd" d="M7.646 11.354a.5.5 0 0 1 0-.708L10.293 8 7.646 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0z"/>
              <path fill-rule="evenodd" d="M4.5 8a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z"/>
            </svg>
          </button>

        </div>
      </li>
      <!-- BACKGROUND -->
      <li class="my-3">
        <div class="list-title">
          <p>Background</p>
        </div>
        <div class="d-flex flex-wrap sub-box">
          <div class="box" (click)="addRuledPaper()">
            <img src="../../../assets/paperType/ruled.png" alt="ruled">
          </div>
          <div class="box" (click)="addClearBackground()">

          </div>
          <div class="box" (click)="addMathPaper()">
            <img class="img-scale" src="../../../assets/paperType/mathYellow.svg" alt="math">
          </div>
          <div class="box" (click)="addGraphPaper()">
            <img class="image-scale" src="../../../assets/paperType/graph.png" alt="graphed">
          </div>
        </div>
      </li>
      <!-- colour and width -->
      <li class="my-3">
        <div class="list-title">
          <p>Color Picker</p>
        </div>
        <div class="color-picker">
          <button class="btn-danger btn-color-tool" (click)="setColor(220,53,69)"></button>
          <button class="btn-primary btn-color-tool" (click)="setColor(0,123,255)"></button>
          <button class="btn-success btn-color-tool" (click)="setColor(40,167,69)"></button>
          <button class="btn-warning btn-color-tool" (click)="setColor(255,193,7)"></button>
          <button class="btn-dark btn-color-tool" (click)="setColor(0,0,0 )"></button>
          <input type="color" id="myColor"  class="input-color-tool" value="#ffffff" (change)="colourPick()">
        </div>

        <!-- <div class="title">
          <p class="mt-2 mr-1">WIDTH: </p>
        </div>

        <div class="d-flex flex-wrap width-picker">
          <div class="box btn btn-light">

          </div>
          <div class="box">

          </div>
          <div class="box">

          </div>
        </div> -->
      </li>
      <!-- BASIC TOOLS -->
      <li class="my-3">
        <div class="list-title">
          <p>Basic Tools</p>
        </div>
        <div class="d-flex flex-wrap basic-tools">
          <!-- normal pen -->
          <button class="btn btn-light" (click)="penButton()">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pen" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M5.707 13.707a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391L10.086 2.5a2 2 0 0 1 2.828 0l.586.586a2 2 0 0 1 0 2.828l-7.793 7.793zM3 11l7.793-7.793a1 1 0 0 1 1.414 0l.586.586a1 1 0 0 1 0 1.414L5 13l-3 1 1-3z"/>
              <path fill-rule="evenodd" d="M9.854 2.56a.5.5 0 0 0-.708 0L5.854 5.855a.5.5 0 0 1-.708-.708L8.44 1.854a1.5 1.5 0 0 1 2.122 0l.293.292a.5.5 0 0 1-.707.708l-.293-.293z"/>
              <path d="M13.293 1.207a1 1 0 0 1 1.414 0l.03.03a1 1 0 0 1 .03 1.383L13.5 4 12 2.5l1.293-1.293z"/>
            </svg>
          </button>

          <!-- Caligraphy pen -->
          <button class="btn btn-light" (click)="calligraphyButton()">
            <img src="../../../assets/basic-tools/caligraphy.png" alt="" width="17" height="17" />
          </button>

          <!-- brush -->
          <button class="btn btn-light">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-brush" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.213 1.018a.572.572 0 0 1 .756.05.57.57 0 0 1 .057.746C15.085 3.082 12.044 7.107 9.6 9.55c-.71.71-1.42 1.243-1.952 1.596-.508.339-1.167.234-1.599-.197-.416-.416-.53-1.047-.212-1.543.346-.542.887-1.273 1.642-1.977 2.521-2.35 6.476-5.44 7.734-6.411z"/>
              <path d="M7 12a2 2 0 0 1-2 2c-1 0-2 0-3.5-.5s.5-1 1-1.5 1.395-2 2.5-2a2 2 0 0 1 2 2z"/>
            </svg>
          </button>

          <!-- eraser -->
          <button class="btn btn-light" (click)="eraserButton()">
            <img src="../../../assets/basic-tools/eraser.png" alt="" width="17" height="17" />
          </button>

          <!-- highlighter -->
          <button class="btn btn-light" (click)="highlighterButton()">
            <img src="../../../assets/basic-tools/highlighter.png" alt="" width="17" height="17" />
          </button>

        </div>
      </li>

      <!-- Eraser Size -->
      <li class="my-3">
        <div class="list-title">
          <p>Size</p>
        </div>
        <div class="d-flex flex-wrap basic-tools">
          <!-- 1x -->
          <button class="btn btn-light btn-size-tool" title="1x" (click)="setSize(1)" id="btn-size-1" disabled="true">
            <svg width="0.25em" height="0.25em" viewBox="0 0 16 16" class="bi bi-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <circle cx="8" cy="8" r="8"/>
            </svg>
          </button>
          <!-- 10x -->
          <button class="btn btn-light btn-size-tool" title="10x" (click)="setSize(10)" id="btn-size-10" disabled="true">
            <svg width="0.5em" height="0.5em" viewBox="0 0 16 16" class="bi bi-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <circle cx="8" cy="8" r="8"/>
            </svg>
          </button>
          <!-- 20x -->
          <button class="btn btn-light btn-size-tool" title="20x" (click)="setSize(20)" id="btn-size-20" disabled="true">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <circle cx="8" cy="8" r="8"/>
            </svg>
          </button>
          <!-- 50x -->
          <button class="btn btn-light btn-size-tool" title="50x" (click)="setSize(50)" id="btn-size-50" disabled="true">
            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <circle cx="8" cy="8" r="8"/>
            </svg>
          </button>
        </div>
      </li>

<!-- Shapes -->
      <li class="my-4">
        <div class="list-title">
          <p>Shapes</p>
        </div>

        <div class="d-flex flex-wrap basic-tools">
          <!-- circle -->

          <button class="btn btn-light">
            <img src="https://img.icons8.com/android/24/000000/line.png" width="17" height="17" />
          </button>
          <button class="btn btn-light">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <circle cx="8" cy="8" r="8"/>
            </svg>
          </button>

          <!-- rectangle -->
          <button class="btn btn-light">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-square-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2z"/>
            </svg>
          </button>

          <!-- triangle -->
          <button class="btn btn-light">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-triangle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M7.022 1.566a1.13 1.13 0 0 1 1.96 0l6.857 11.667c.457.778-.092 1.767-.98 1.767H1.144c-.889 0-1.437-.99-.98-1.767L7.022 1.566z"/>
            </svg>
          </button>
        </div>
      </li>
<!-- file upload -->
      <li class="my-4">
      <div class="list-title">
        <p>File Uploads</p>
      </div>
      <!-- <div class="text-center">
        <input type="file" id="file" (change)="showPreviewImage($event)">
      </div> -->
      <div class="btn-files">
        <div class="pdfUpload">
          <input type="file" id="file"  (change)="showPreviewImage($event)"/>
          <label for="file" class="btn-1">Upload pdf</label>
        </div>
      </div>

      </li>
      <!-- Buttons -->
      <li class="finalBtn">
        <div class="btx">
          <button class="btn btn-success btn-save" (click)="downloadAsJSON()">Save</button>
          <button class="btn btn-danger btn-exit">Exit</button>
        </div>
      </li>
    </ul>
  </div>

  <!-- main container for background -->
  <div class="main">
    <canvas #backgroundImage id="backgroundImage"></canvas>
    <canvas #myCanvas id="my_canvas" class="canvasElement"></canvas>
  </div>
</div>
