<div class="container">
  <div class="container mt-3 border">
    <h3>
      Canvasboard learning Managment
    </h3>
  </div>
  <div class="container mt-3 border">
    <h5>
        Subject: {{ subjectName }}
    </h5>
    <h5>
        Class: {{ className }}
    </h5>
    <h5>
      Assignment Name: {{ assignmentName }}
    </h5>
    <h5>
      Filters:
    </h5>
    <div class="form-inline ml-5">
      <div class="form-group mr-3">
        <input type="checkbox" class="form-check-input" [(ngModel)]="filters.graded" (ngModelChange)="onFilter()">
        <label class="form-check-label">Graded</label>
      </div>
      <div class="form-group mr-3">
        <input type="checkbox" class="form-check-input" [(ngModel)]="filters.notGraded" (ngModelChange)="onFilter()">
        <label class="form-check-label">Not Graded</label>
      </div>
      <div class="form-group mr-3">
        <input type="checkbox" class="form-check-input" [(ngModel)]="filters.submitted" (ngModelChange)="onFilter()">
        <label class="form-check-label">Submitted</label>
      </div>
      <div class="form-group mr-3">
        <input type="checkbox" class="form-check-input" [(ngModel)]="filters.notSubmitted" (ngModelChange)="onFilter()">
        <label class="form-check-label">Not Submitted</label>
      </div>
    </div>
    <div class="form-group ml-5">
      Filter by name:
      <input type="text" [(ngModel)]="filters.name" (ngModelChange)="onFilter()">
    </div>
    <div class=" ml-5">
      <button class="btn btn-outline-primary" (click)="exportCsv()">Export as CSV</button>
    </div>
    <div class="container mt-3">
      <ul class="list-group">
        <li *ngFor="let student of filteredStudents;" class="list-group-item">
          {{ student.name }}
          <div class="float-right">
            <div>
              <button class="btn btn-outline-primary btn-sm float-right mt-1" style="opacity: 1;" disabled> {{ student.submitionStatus }}</button>
            </div>
            <div>
              <button class="btn btn-outline-primary btn-sm float-right mt-1" style="opacity: 1;" disabled> {{ student.gradedStatus }}</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
