<div class="container">
  <div class="row justify-content-md-center mt-4 text-center">
    <div class="cb-image">
      <img src="../../../assets/home/logo_bw.png" width="100" alt="Logo" />
    </div>
  </div>
  <div class="row mt-3">
    <div class="links">
      <ul class="row justify-content-center mt-3">
        <li><a href="#">Home</a></li>
        <li>
          <a target="_blank" href="https://github.com/Canvasbird/canvasboard"
            >Github</a
          >
        </li>
        <!-- <li><a href="#">Documentation</a></li> -->
        <li><a routerLink="/login">Login/Signup</a></li>
      </ul>
    </div>
  </div>
  <div class="row justify-content-md-center mt-4">
    <div class="col-12 text-center">
      <p class="header">Interested in <span>Contributing</span>?</p>
    </div>
  </div>
  <div class="row justify-content-md-center mt-4 text-center">
    <div class="row m-0">
      <div class="cb-github">
        <img src="../../../assets/home/github.gif" alt="github" />
      </div>
    </div>
  </div>

  <div class="row">
    <img
      class="images mx-auto mb-2"
      src="../../../assets/home/contributions.png"
    />
  </div>

  <div class="row justify-content-md-center mt-4 text-center">
    <div class="text-center">
      <p class="cb-contribute px-2">
        Open source❤️ has gained huge popularity in the field of IT in recent
        years and it embraces strong values of community, collaboration, and
        transparency. Contributions are what make the open-source community an
        amazing place to learn, inspire, and create. Please consider
        contributing to the project, with your ideas, your artwork, and your
        code.
      </p>
      <a target="_blank" href="https://github.com/Canvasbird/canvasboard/"
        ><button class="btn btn-outline-dark mt-3 mb-3">
          Become a Contributor🚀
        </button></a
      >
    </div>
  </div>
</div>
<!-- <app-footer></app-footer> -->
