

.container {
  // height: 82vh;
  min-height: calc(100vh - 205px);
  .cb-image {
    width: 100%;
  }
    .links{
    width: 100%;
    text-align: center;
    // border: 1px solid red;
    ul{
      margin: 2px auto;
      line-height: 1.4;
      padding-left: 0;
    }
    li{
      display: inline;
      text-align: center;
      margin-left: 1rem;
      margin-right: 1rem;
      padding-top: 0.5rem;
    }
  }
  .header{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 2rem;

    span {
      color: #EE6D9E;
    }
  }

  .cb-contribute{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    line-height: 31px;
  }

  .cb-github{
    img {
      width: 20%;
    }
  }

  .images{
    margin: auto;
    max-width: 100vw;
    text-align: center;
    display: block;
    margin-right: inherit;
  }

  
}
