.container{

  .cb-image {
    width: 100%;
  }

  .links{
    width: 100%;
    text-align: center;
    // border: 1px solid red;
    ul{
      margin: 2px auto;
      line-height: 1.4;
      padding-left: 0;
    }
    li{
      display: inline;
      text-align: center;
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
  .header_div {
    display: block;
    margin: 0 40px;
    .header {
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-size: 60px;
      // border: 2px solid blue;
    }
  }
  .sub-header_div {
    display: block;
    margin: auto;
    .sub-header {
      font-family: "Questrial", sans-serif;
      font-size: 30px;
      line-height: 31px;
      // border: 2px solid blue;
      .webboard {
        color: #ee6d9e;
        font-weight: bold;
      }
      .Schools {
        color: #1551ec;
        font-weight: bold;
      }
      .Colleges {
        color: #5217f9;
        font-weight: bold;
      }
      .Universities {
        color: #9513e4;
        font-weight: bold;
      }
    }
  }

  .board {
    width: 90%;
    margin-top: 70px;
  }

  .features{
    margin-top: 100px;
    .pdf-img{
      width: 50%;
    }
    .feature1-heading{
      color: #EE6D9E;
      font-family: Poppins;
      font-weight: bold;
      font-size: 30px;
      line-height: 45px;
    }
  }

  @media (max-width: 530px) {
    .header_div {
      .header {
        font-size: 10vw;
      }
    }
  }
  @media (max-width: 430px) {
    .links {
      li {
        margin-left: 3px;
        margin-right: 3px;
      }
    }
  }
}
