<div class="container">
  <div class="row justify-content-md-center mt-4 text-center">
    <div class="cb-image">
      <img src="../../../assets/home/logo_bw.png" width="100" alt="Logo">
    </div>
  </div>
  <div class="row">
    <div class="links">
      <ul class="row justify-content-center mt-3">
        <li><a href="#">Home</a></li>
        <li><a href="https://github.com/Canvasbird/canvasboard">Github</a></li>
        <li><a href="#">Documentation</a></li>
        <li><a routerLink="/login">Login/Signup</a></li>
      </ul>
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="text-center">
      <p class="header">Canvasboard</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-10 col-sm-10 text-center">
      <p class="sub-header">
        A board with <span class="webboard">Interactive Plugins</span> 🌎 to meet all your needs
      </p>
    </div>
  </div>
  <div class="row mt-4 mb-4 justify-content-md-center">
    <div class="col-12 col-sm-10 text-center mx-auto">
      <img src="../../../assets/home/board.png" alt="board" class="board mt-2 mb-5 shadow rounded">
    </div>
  </div>
</div>
<!-- Footer -->
<div class="mt-4">
  <app-footer></app-footer>
</div>
