<div class="container">
  <div class="row justify-content-md-center mt-4">
    <div class="col-2 col-sm-2 text-center">
      <img src="../../../assets/home/logo_bw.png" width="100" alt="Logo">
    </div>
  </div>
  <div class="row mt-3">
    <div class="links">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="https://github.com/Canvasbird/canvasboard">Github</a></li>
        <li><a href="#">Documentation</a></li>
        <li><a routerLink="/login">Login/Signup</a></li>
      </ul>
    </div>
  </div>
  <div class="row justify-content-md-center mt-4">
    <div class="col-8 col-sm-8 text-center">
      <p class="header">Canvasboard</p>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-10 col-sm-10 text-center">
      <p class="sub-header">An interactive <span class="webboard">webboard</span> for <span
          class="Schools">Schools</span>, <span class="Colleges">Colleges</span> and <span
          class="Universities">Universities</span></p>
    </div>
  </div>
  <div class="row mt-4 justify-content-md-center">
    <div class="col-10 col-sm-10 text-center mx-auto">
      <img src="../../../assets/home/board.png" alt="board" class="board">
    </div>
  </div>

  <!-- features -->
  <div class="row justify-content-md-center features">
    <div class="col col-md-6 text-center mx-auto">
      <img src="../../../assets/home/pdf.png" alt="PDF" class="pdf-img">
    </div>
    <div class="col col-md-6 text-center mx-auto">
        <p class="feature1-heading">Lorem ipsum dolor sit amet.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel quaerat fuga officiis aut eos voluptas dolore modi
          omnis error, id tempora tempore, veritatis minima placeat totam. Ducimus inventore molestiae enim.</p>
    </div>
  </div>

  <div class="row mt-4 justify-content-md-center features">
    <div class="col col-md-6 text-center mx-auto">
      <p class="feature1-heading">Lorem ipsum dolor sit amet.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel quaerat fuga officiis aut eos voluptas dolore modi
        omnis error, id tempora tempore, veritatis minima placeat totam. Ducimus inventore molestiae enim.</p>
    </div>
    <div class="col col-md-6 text-center mx-auto">
      <img src="../../../assets/home/pdf.png" alt="PDF" class="pdf-img">
    </div>
  </div>
</div>
  <!-- Footer -->
<div class="mt-4">
  <app-footer></app-footer>
</div>
