<div class="container">
  <div class="row justify-content-md-center mt-4 text-center">
    <div class="cb-image">
      <img src="../../../assets/home/logo_bw.png" width="100" alt="Logo">
    </div>
  </div>
  <div class="row mt-3">
    <div class="links">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="https://github.com/Canvasbird/canvasboard">Github</a></li>
        <li><a href="#">Documentation</a></li>
        <li><a routerLink="/login">Login/Signup</a></li>
      </ul>
    </div>
  </div>
  <div class="row justify-content-md-center mt-4">
    <div class="col-8 col-sm-8 text-center header_div">
      <p class="header">Canvasboard</p>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-10 col-sm-10 text-center sub-header_div">
      <p class="sub-header">An interactive <span class="webboard">webboard</span> for <span
          class="Schools">Schools</span>, <span class="Colleges">Colleges</span> and <span
          class="Universities">Universities</span></p>
    </div>
  </div>
  <div class="row mt-4 mb-4 justify-content-md-center">
    <div class="col-10 col-sm-10 text-center mx-auto">
      <img src="../../../assets/home/board.png" alt="board" class="board">
    </div>
  </div>
</div>
<!-- Footer -->
<div class="mt-4">
  <app-footer></app-footer>
</div>
