.wrapper{
  display:flex;
  position: relative;

  .sidebar{
    position: fixed;
    width: 20%;
    height:100%;
    // background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
    padding: 10px 5px;
  }

  .main{
    margin-left: 20%;
    height:90vh;
    .viewer{
      position: relative;
      height: 70vh;
      width: 70vw;
      background-color:rgb(253, 240, 240);
      margin: 70px;
      margin-top: 100px;
      canvas{
        width:100%;
        height: 100%;
      }
    }
  }
}

