<div class="container-fluid height">
  <div class="row h-100">
    <div class="col-md-3 col-sm-10 main-scr">
      <form class="p-4 form-lst">
        <div class="header" routerLink="/">
          <!-- <img src="../../../assets/home/logo_bw.png" alt="" class="logo"> -->
          <div class="title ani"><p>Canvasboard</p></div>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1"><strong>Email address</strong></label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" [(ngModel)]="emailId" [ngModelOptions]="{standalone: true}">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1"><strong>Password</strong></label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
          <a (click)="forgotPassword()">Forgot Password?</a>
        </div>
        <div class="form-group">
          <button type="button" class="btn-grad btn-outline-dark" (click)="login()"><strong style="padding:10px">Log In</strong></button>
          <p style="font-size: 15px; margin-bottom: 0px"><strong>Don't have an account?</strong></p>
          <button type="button" class="btn-grad btn-outline-dark" routerLink="/sign-up"><strong style="padding:10px">Sign Up</strong></button>
        </div>
        <hr>
        <div class="form-group text-center">
          <p style="margin-bottom: 5px;"><strong>Log In with</strong></p>
          <img src="../../../assets/login/icons8-google-48.png">
        </div>
      </form>
    </div>
    <div class="col-md-9 mob-hidden" style="background-color:white">
      <img class="img-responsive mw-100" src="../../../assets/login/download2.png">
    </div>

  </div>
</div>
