<app-navbar></app-navbar>
<div class="container shadow mt-3">
  <div class="main">
    <!-----------------title---------------------->
    <div class="cb-title">
      <h2
        id="title"
        class="heading"
        contenteditable="true"
        data-text="Title"
      ></h2>
    </div>

    <!-----------------notes box ----------------->
    <div id="main-box" class="main-box">
      <!-- temp -->
      <div id="sub-title" class="demo"></div>
      <!-- temp -->

      <!-- .........................TESTING CODE GOES HERE!................................. -->

      <!-- .........................END OF TESTING CODE!.......................... -->
    </div>
    <!-- --------------END OF NOTES BOX -->
  </div>
</div>
