.container {
  // ..............MAIN.....................
  .main {
    // style for creative-board title
    .cb-title {
      .heading {
        margin-bottom: 0px;
        padding-top: 1rem;
        padding-bottom: 10px;
        border-bottom: 2px solid #999999;
      }

      .heading:focus {
        outline: none;
      }
    }

    .main-box {
      display: block;
    }
  }
  //................. TOOLBOX.....................
  .toolbox {
    .toolbox-main {
      display: flex;
    }
  }
}

//Essentials
[contentEditable="true"]:empty:not(:focus):before {
  content: attr(data-text);
  color: rgb(175, 175, 175);
}
