.container {
  // ..............MAIN.....................
  .main {
    .cb-title {
      .heading {
        margin-bottom: 0px;
        padding-top: 1rem;
        padding-bottom: 10px;
        border-bottom: 2px solid #999999;
        display: flex;
      }

      .heading:focus {
        outline: none;
      }
    }


    .main-box {
      display: block;
      margin-top: 5px;

      .cb-box-1 {
        width: 100%;
        // max-width: 630px;
        margin-top: 1px;
        margin-bottom: 1px;
        position: relative;

        .cb-top-toolbox {
          position: absolute;
          bottom: 15px;
          width: 100%;
        }
.cb-bottom-toolbox {
          position: absolute;
          top: 10px;
          width: 100%;
        }

        .cb-box-2 {
          color: red;
          background-color: pink;
          padding-top: 3px;
          padding-bottom: 3px;
          border-radius: 5px;
.cb-box-3 {
  display: flex;

  .edit {
    max-width: 100%;
    width: 100%;
    white-space: pre-wrap;
    word-break: break-all;
  }

  .edit:focus {
              outline: none;
            }
          }
        }

        .cb-toolbox {
          margin-top: 10%;
          padding-left: 20px;
        }

        .cb-more-toolbox {
          position: relative;
          display: none;
        }
      }
    }
  }
  //................. TOOLBOX.....................
  .toolbox {
    margin-top: 10px;
.toolbox-main {
  display: flex;
    }


    .quill {
      padding: 20px;
    }

    ::ng-deep .ql-toolbar.ql-snow {
      border-radius: 10px;
    }
  }
}
.creative-board-main:focus {
  outline: none;
}

.red {
  background: red;
}

[contentEditable=true]:empty:not(:focus):before {
  content: attr(data-text);
  display: inline-flex;
}

.inline-flex {
  display: inline-flex;
}

.col-cb-1-custom {
  padding-top: 8px;
  max-width: 3%;

  svg {
    margin-top: 50%;
  }
}


.cb-container-main {
  min-height: 80vh;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

// navbar
.nav {
  height: 90%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  margin-top: 60px;
  transition: 0.3s;
  overflow-x: hidden;
  // border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

  .close {
    position: absolute;
    top: 15px;
    right: 22px;
  }
}
.slide {
  position: fixed;
  margin-left: 0.5%;
}

.cb-ul {
  margin-top: 10px;
  width: 100%;

  .header {
    margin-left: 5%;
    margin-top: 10px;
  }
.text-tools {
    margin-left: 5%;
  }
  .color-cards-tools {
    margin-left: 5%;
  }
  .font-cards-tools {
    margin-left: 5%;
  }
  .plugins {
    margin-left: 5%;
  }
  .cb-graphs {
    margin-left: 5%;
  }
}

.monospace {
  font-family: 'Courier Prime', monospace;
}

.playfair {
  font-family: 'Playfair Display', serif;
}

.kalam {
  font-family: 'Kalam', cursive;
}
