<app-navbar></app-navbar>
<!-- Icons -->
<div class="container mt-3">
  <div class="d-flex">
    <button class="btn btn-primary ml-auto mr-2" (click)="saveData()">Save as JSON</button>
    <!-- <button class="btn btn-primary mr-2">Save as PDF</button> -->
  </div>
</div>

<div class="container shadow mt-2 cb-container-main">
  <div class="main">
    <!-----------------title---------------------->
    <div class="cb-title" id="cb-title">
      <h2
        id="title"
        class="heading"
        contenteditable="true"
        data-text="Title"
      ></h2>
    </div>

    <!-----------------notes box ----------------->
    <div id="main-box" class="main-box">
      <!-- temp -->
      <div id="sub-title" class="demo"></div>
      <!-- temp -->

      <!-- .........................TESTING CODE GOES HERE!................................. -->

      <!-- .........................END OF TESTING CODE!.......................... -->
    </div>
    <!-- --------------END OF NOTES BOX -->
  </div>
</div>
