<app-navbar></app-navbar>

<div class="container">
  <div class="buttons mt-4">
    <button class="btn btn-danger" (click)="backtoDashboard()">Back</button>
  </div>
  <div class="jumbotron mt-2">
    <h1 class="display-5"><strong>Science 4b</strong></h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  </div>

  <div class="cb-files-container">
    <div class="cb-box"*ngFor="let data of data">
      <img src="{{data.imageURL}}" alt="demo">
      <h2>{{data.title}}</h2>
      <p>{{data.subtitle}}</p>
      <button class="btn btn-primary mt-2 myButton" (click)="viewCreativeBoard($event,data)">View</button>
      <button class="btn btn-success mt-2" *ngIf="true" (click)="editCreativeBoard($event,data)">Edit</button>
      <div class="labels d-flex flex-wrap">
        <span class="badge badge-danger">Label1</span>
        <span class="badge badge-danger">label2</span>
      </div>
    </div>
  </div>
</div>

