<app-navbar></app-navbar>

<div class="container">
  <div class="jumbotron mt-2">
    <h1 class="display-5 Questrial"><strong>Heading (Title)</strong></h1>
    <p class="lead Questrial">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <button class="btn btn-dark Questrial" routerLink="/creative-board">Launch New Board</button>
  </div>

  <!-- Files collection -->
    <div id="user-files" class="cbff-container bd-grid mt-4">
      
    </div>  
</div>



