<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2>Dashboard</h2>
        </div>
    </div>

    <div class="row marginTopTwo borderBlack">
        <div class="col-lg-12 col-md-12">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <h5>Classes assigned to you</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 marginTopTwo marginBottomTwo">
            <div class="card" style="width: 18rem;float: left; margin-left: 4%;" *ngFor="let i of [1,2,3]">
                <div class="card-body">
                  <h5 class="card-title">Class {{i}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted"> Section {{i}}</h6>
                </div>
              </div>
        </div>
    </div>


    <!-- list of all students -- In Teachers Section -->
    <div class="row marginTopTwo ">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 borderBlack">
            <div class="marginTopTwo marginBottomTwo">
            
            </div>
        </div>
    </div>
</div>

