
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$canvasboard-primary: mat-palette($mat-indigo);
$canvasboard-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$canvasboard-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$canvasboard-theme: mat-light-theme((
  color: (
    primary: $canvasboard-primary,
    accent: $canvasboard-accent,
    warn: $canvasboard-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($canvasboard-theme);


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$canvasboard-primary: mat-palette($mat-indigo);
$canvasboard-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$canvasboard-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$canvasboard-theme: mat-light-theme($canvasboard-primary, $canvasboard-accent, $canvasboard-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
// @include angular-material-theme($canvasboard-theme);


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$canvasboard-primary: mat-palette($mat-indigo);
$canvasboard-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$canvasboard-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$canvasboard-theme: mat-light-theme($canvasboard-primary, $canvasboard-accent, $canvasboard-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
// @include angular-material-theme($canvasboard-theme);

/* You can add global styles to this file, and also import other style files */

.marginTopTwo {
  margin-top: 2%;
}

.borderBlack {
  border: 2px solid black;
}

.marginBottomTwo {
  margin-bottom: 2%;
}

.marginRightTwo {
  margin-right: 2%;
}

.cursorHand {
  cursor: pointer;
}

.paddingOne {
  padding: 1%;
}

.colorWhite {
  color: white;
}

/* You can add global styles to this file, and also import other style files */
// .............. TOOLBOX UTILITIES..................
.cb-H1 {
  font-size: 2em;
}

.cb-H2 {
  font-size: 1.5em;
}

.cb-H3 {
  font-size: 1.3em;
}

.toolbox-main {
  position: absolute;
  display: flex;
  background-color: white;
  right: 0px;
  border-radius: 5px;
  z-index: 1000;
}

// for background colors
.cb-background-red {
  background-color: #f78080;
}

.cb-background-green {
  background-color: #94e794;
}

.cb-background-yellow {
  background-color: #f6ec89;
}

.cb-background-blue {
  background-color: #96c7f7;
}

// code snippet style
.cb-code-snippet {
  background-color: black;
  color: #e6db74;
  font-family: "Inconsolata", monospace;
}

.cb-toolbox {
  padding-left: 10px;
}

// Fonts
.monospace-font {
  font-family: 'Courier Prime', monospace;
}
.playfair-font {
  font-family: 'Playfair Display', serif;
}

.kalam-font {
  font-family: 'Kalam', cursive;
}

// Board
.cb-more-toolbox {
  position: relative;
  display: none;
}

// ........................DASHBOARD...........................
.folder-box,
.file-box {
  padding: 1rem 1rem;
  background: #53A453;
  background: #ee9ca7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: .5rem;
  transition: 0.4s;
  margin:10px;
  margin-left: 0px;

  .folder-title,
  .file-title {
    font-family: Questrial,sans-serif;
    margin-top: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 15rem;
  }

  .folder-description,
  .file-description {
    font-family: Questrial,sans-serif;
  }
}

.new-folder,
.new-file {
  text-align: center;
  background: rgb(241, 241, 241);
  padding: 1rem 1rem;
  border-radius: .5rem;
  transition: 0.4s;
  margin:10px;
  margin-left: 0px;
}

.folder-box:hover,
.file-box:hover {
  transform:translateY(-.2rem);
}

.bd-grid {
  display: grid;
}
.cbff-container {
  grid-template-columns: repeat(3,1fr);
}
#user-folders{
  position: relative;
}
#user-files {
  position: relative;
}
#not-found{
  color: black;
  opacity: 50%;
  margin: 0;
  position: absolute;
  top: 6rem;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

.mat-progress-bar.mat-warn .mat-progress-bar-buffer {
  background-color: #ffccbc;
}

.mat-progress-bar.mat-warn .mat-progress-bar-fill::after {
  background-color: red !important;
}

.mat-progress-bar.mat-accent .mat-progress-bar-buffer {
  background-color: lightblue !important;
}

.mat-progress-bar.mat-accent .mat-progress-bar-fill::after{
  background-color: #1E90FF !important;
}

.mat-progress-bar.mat-primary .mat-progress-bar-buffer {
  background-color: lightgreen !important;
}

.mat-progress-bar.mat-primary .mat-progress-bar-fill::after{
  background-color: green !important;
}


@media (max-width: 990px) {
  .cbff-container {
    grid-template-columns: repeat(2,1fr);
  }
  .toolbox-main{
    width: calc(100vw - 80px);
    overflow-x: scroll;
  }
}

@media (max-width: 576px) {
  .cbff-container {
    grid-template-columns: repeat(1,1fr);
  }
}

@media (max-width: 320px) {
  #not-found{
    top: 3rem;
  }
}

.error-label {
  display: none;
}

.delete-popup {
  float: right;
  margin-right: 5px;
  display:none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

