/* You can add global styles to this file, and also import other style files */

.marginTopTwo{
    margin-top: 2%;
}
.borderBlack{
    border: 2px solid black;
}
.marginBottomTwo{
    margin-bottom: 2%;
}
.marginRightTwo{
    margin-right: 2%;
}
.cursorHand{
    cursor: pointer;
}
.paddingOne{
    padding:1%;
}
.colorWhite{
    color: white;
}