.scroll-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    opacity: 0;
    transition: all .2s ease-in-out;
   }
   .show-scrollTop {
    opacity: 1;
    transition: all .2s ease-in-out;
   }
